extends layout


block content
  - var target= 'location.href="/home/' + user.id + '"';
  h1= target
  //.line-row(onclick='location.href="/home/"', target = user.id )

  .name
    b name
      span #{user.name}
  .email
    b email:
    span #{user.email}
  .body
    b body:
    span #{user.body}
  .postId
    a(href='/home/edit/' + user.id ) update

    |
    |
    |

    a(href='/home/delete/' + user.id ) delete




