extends layout

block content

  .line-row
    .id
      b id:
      span #{user.id}
    .postId
      b postId:
      span #{user.postId}
    .email
      b email:
      span #{user.email}
    .body
      b body:
      span #{user.body}



