

doctype html
html
  head
    include included/_head
  body
    include included/_header
    hr
    //block content
    //block users
    //block test
    if page === 'home'
      content#home 1
        block content
    else if page === 'users'
      content#users 2
        block users
    else if page === 'test'
      content#test 3
        block test

    hr
    include included/_footer


